.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    color: aliceblue;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    font-family: Arial, Helvetica, sans-serif;
}

.landingMessage {
    /* border: 2px solid blue; */
    margin-left: 2.5%;
    /* justify-content: right; */
    font-size: 1.5em;
    z-index: 3;
}

.heroImage {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    z-index: 1;
    /* -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent); */
}

.heroStatement {
    /* border: 2px solid black; */
    font-size: 5vh;
    /* color: aliceblue; */
    color: orangered;
    position: relative;
    margin-top: 22.5%;
    margin-left: 2.5%;
    text-shadow: 3px whitesmoke;
    z-index: 3;
}

.darkContainer {
  position: relative;
  background-color: black;
  width: max-content;
  z-index: 2;
}

@media screen and (max-width: 1613px) {
    .landingMessage {
      font-size: 1.75em;
    }
    .heroStatement {
      font-size: 4.5vh;
    }
  }

  @media screen and (max-width: 1545px) {
    .landingMessage {
      font-size: 1.5em;
    }
    .heroStatement {
      font-size: 3.5vh;
    }
  }

  @media screen and (max-width: 1478px) {
    .landingMessage {
      font-size: 1.25em;
    }
    .heroStatement {
      font-size: 3.25vh;
    }
  }

  @media screen and (max-width: 1412px) {
    .landingMessage {
      font-size: 1em;
    }
    .heroStatement {
      font-size: 2.5vh;
    }
  }

  /* @media screen and (max-width: 1343px) {
    .landingMessage {
      font-size: .75em;
    }
  } */

  @media screen and (max-width: 875px) {
    .landing {
      flex-direction: column;
    }
    .landingMessage{
        margin: 5%;
    }
    .heroImage{
        justify-content: center;
        width: 100%;
    }
    .heroStatement {
      font-size: 2.5;
      margin-top: 8vh;
    }

  }

  @media screen and (max-width: 675px) {

    .heroStatement {
      font-size: 2.5vh;
    }

  }