.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

.landingMessage {
    border: 2px solid blue;
}

.heroImage {
    border: 2px solid green;
    display: flex;
    justify-content: right;
}